.battlefield {
    width: 225px;
    height: 225px;
}
table {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

td:active {
    transform: scale(0.9);
}

td:hover {
    cursor:pointer;
    box-sizing: border-box;
    padding: 2px;
    transition: .2s;
}

td:first-child,
tr:first-child td{
    border: none;
    background: inherit;
}

td:hover:first-child,
tr:hover:first-child td {
    cursor: default;
    background: inherit;
}

td:active:first-child,
tr:active:first-child td {
    transform: none;
}

.example {
    visibility: hidden;
}


.baseAllied {
    background: #a3e1ec;
}

.baseAllied:active {
    background: #75a1a9;
}

.baseEnemy {
    background: #e07070;
}

.baseEnemy:active {
    background: #753a3a;
}

td {
    padding: 0;
    horiz-align: center;
    vertical-align: center;
    position: relative;
}

td
img {
    position: absolute;
    top:0;
    right:0;
}
