.App {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px 0 20px 20px ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  display: flex;
  max-width: 800px;
  height: 600px;
  max-height: 60%;
  width: 100%;
}